<div class="well width60 center">
<%= form_for @booking, :html => {:id => "book_a_room", :multipart => true, :remote => true } do |f|%>

    <% if @booking.errors.any? %>
        <div id="error_explanation">
          <h2>
          <%= pluralize( @booking.errors.count, "error" )%> Prohibited this booking from saved:
          </h2>
          <ul>
            <% @booking.errors.full_messages.each do |msg|%>
              <li><%=msg %></li>
            <% end %>
          </ul>
        </div>
    <% end%>
    <div class="container-fluid">
        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :check_in %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :check_in, 'data-behaviour' => 'datepicker' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :check_out %>
          </div>
           <div class="col-sm-8">
            <%= f.text_field :check_out, 'data-behaviour' => 'datepicker' %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :adults %>
          </div>
          <div class="col-sm-8">
            <%=f.select :adults, options_for_select(1..5)%>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :children %>
          </div>
          <div class="col-sm-8">
            <%=f.select :children, options_for_select(1..5)%>
          </div>

        </div>

        <div class="form-group row">
          <div class="table-responsive">
            <table class="table-bordered table">
               <thead>
                  <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-3">Room types</th>
                    <th class="col-md-8">Rooms</th>
                  </tr>
                </thead>

                <tbody>
                 <%= f.collection_check_boxes( :room_type_ids,RoomType.all,:id,:name,{:include_hidden => false,},{:class => 'chk_room_type'}) do |b| %>
                  <tr>
                    <!-- <tr><%= b.check_box %><%= b.label %></tr> -->
                    <%= content_tag( :td, b.check_box, class: "checkbox-wrap" )%>
                    <%= content_tag( :td, b.label, class: "label-wrap" )%>
                    <%= content_tag( :td, nil, class: "room_name", id: "room_" + b.value ) %>
                  </tr>
                <% end %>
                </tbody>
            </table>
          </div>
        </div>

         <div class="form-group row">
            <div class="col-sm-4">
              <%= f.label :select_customer %>
            </div>
            <div class="col-sm-4">
               <%= collection_select(:booking, :customer_id, Customer.all, :id, :name ) %>
            </div>
            <div class="col-sm-4">
              <%= link_to "Create customer", new_customer_path, remote: true, id:'list_rooms', class:'btn btn-info btn-md' %>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <%= link_to 'Back', bookings_path , :class => "btn btn-danger left", remote: true %>
          </div>
          <div class="col-sm-6">
          </div>
           <div class="col-sm-6">
            <%= f.submit :class => 'btn btn-info right', :id => "create_customer" %>
          </div>
        </div>
      </div>
<% end %>
</div>
<%= javascript_include_tag('bookings.js') %>

