<%= form_for @roomType, html:{class:"", role: "form" } do |f| %>
	<% if @roomType.errors.any? %>
		<%= pluralize( @roomType.errors.count, "error" )%>
	<% end %>

	<ul>
		<% @roomType.errors.full_messages.each do |msg| %>
			<li><%=msg %></li>
		<% end %>
	</ul>

	<div class="form-group">
		<label for="name"><%= f.label :name %></label>
		<%= f.text_field :name, :class => "form-control" %>
	</div>

	<div class="form-group">
		<label for="capactiy"><%=f.label :capacity %></label>
		<%= f.select(:capacity, @counts, {}, { :class => 'form-control' }) %>	
	</div>

	<div class="form-group">
		<label for="cost"><%= f.label :cost %></label>
		<%= f.text_field :cost, :class => "form-control" %>
	</div>

	<div class="form-group">
		<label for="a/c_cost"><%= f.label :accost %></label>
		<%= f.text_field :a_c_cost, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= f.submit :class => "btn btn-info" %>
		<%= link_to 'Back', room_types_path , :class => "btn btn-danger" %>
	</div>

<% end %>