<div class="well width60 mx-auto">
<%= form_for @customer, :html => {:id => "create_customer", :multipart => true, :remote => true } do |f|%>

    <% if @customer.errors.any? %>
        <%= pluralize( @customer.errors.count, "error" ) %>
    <% end %>

    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%=msg %></li>
      <% end %>
    </ul>
    <div class="container-fluid">

        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :name %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :name, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :phone %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :phone, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :email %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :email, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <%= f.label :adhaar_id %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :adhaar_id, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-4">
            <%= link_to 'Back', customers_path , :class => "btn btn-danger", remote: true %>
          </div>
          <div class="col-sm-4">
          </div>
          <div class="col-sm-4">
            <%= f.submit :class => "btn btn-info right", :id => "create_customer" %>
          </div>
        </div>

      </div>
<% end %>
</div>