<div class="row">
  <div class="col-sm-9">
    <div class="well">
    <div class="row">
      <div class="col-sm-10 bottom20"><h3>Listing customers</h3></div>
      <div class="col-sm-2"><%= link_to "Create customer", new_customer_path, remote: true, id:'list_rooms', 
      class:'btn btn-success btn-md float-right' %>
      </div>
    </div>
    <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Adhaar</th>
          <th colspan="3">Actions</th>
        </tr>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.phone %></td>
            <td><%= customer.email %></td>
            <td><%= customer.adhaar_id %></td>
            <td>
              <%= link_to 'Show', customer_path( customer ), :class => "glyphicon glyphicon-info-sign", :data => {:toggle => 'modal', :target =>"#myModal"}, :remote => true %></td>
            <td>
              <%= link_to 'Edit', edit_customer_path(customer) , :class => "glyphicon glyphicon-pencil", remote:true %></td>
            <td>
              <%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' },
            remote:true %></td>
          </tr>
        <% end %>
    </table>
    </div>
    </div>

    <div class="col-sm-3 well">
      <h4>Search by</h4>
      <input class="form-control" id="myInput" type="text" placeholder="Customer name">
      <br>
      <input class="form-control" id="myInput" type="text" placeholder="Email address">
      <br>
      <input class="form-control" id="myInput" type="text" placeholder="Phone number">
      <br>
      <div class="text-center">
        <button type="button" class="btn btn-info btn-md">Search</button>
      </div>
  </div>
</div>